@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Antique Olive";
  src: url("./fonts/91846.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Franklin Gothic Book";
  src: url("./fonts/FRABKIT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: #222222;
  font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5{
  font-family: "Brush Script MT", sans-serif;
}

body,p{
font-family: 'Franklin Gothic Book', sans-serif;
}

